@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');
* {
    background: blueviolet;
    color: white;
}

body {
    font-family: 'Kanit', sans-serif;
    justify-content: center;
    text-align: center;
    margin-top: 25%;
    margin-bottom: 25%;
}